[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
websockets = "*"
jupiter-python-sdk = "*"
requests = "*"
bs4 = "*"
requests-html = "*"
solana = "*"
solders = "*"
pynacl = "*"
cloudscraper = "*"

[dev-packages]

[requires]
python_version = "3.11"
